In [1]:
# basic
import os
import re
import time
import numpy as np 
import pandas as pd 

# bs4
from bs4 import element 
from bs4 import BeautifulSoup

# selenium
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.keys import Keys

from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait

In [12]:

class yahoo_financial_statement():

    """

    fetch data from yahoo finacne 

    3 main financial statement 

    --> "Cash_Flow" , "Income_Statement" , "Balance_Sheet"

    """

    def __init__(self,ticker,selenium_path,fetch_data ):

        self.ticker = ticker 
        self.selenium_path = selenium_path
        self.fetch_data    = fetch_data
        
        url_typ = {
        "Cash_Flow"         : "cash-flow?p=" ,
        "Income_Statement"  : "financials?p=" ,
        "Balance_Sheet"     : "balance-sheet?p=",
        }

        self. url   = 'https://finance.yahoo.com/quote/'+str(self.ticker)+"/"+url_typ[str(self.fetch_data)]+str(self.ticker)
    
    def Web_Driver(self):
        
        # chrome driver setting
        options = webdriver.ChromeOptions()  
        options.add_argument("--incognito")
        options.add_argument("--start-maximized") 
        driver = webdriver.Chrome(self.selenium_path,options=options)
        driver.get(self.url)
        #----------------------
        driver.find_element_by_xpath("//button[@class='expandPf Fz(s) Bd(0) C($linkColor) C($linkActiveColor):h Fw(500) D(n)--print Fl(end) Mt(5px)']").click()
        self.href = driver.page_source

    def get_table_data(self):

        output_df  = pd.DataFrame()
        soup       = BeautifulSoup(self.href , 'html.parser')


        # ----- columns 
        Columns  = soup.find(class_='D(tbhg)')
        column  = Columns.find_all('span')
        column = [cot.text for cot in column]

        # ---- data
        First_Row_Data   = soup.find_all(class_='rw-expnded')
        time.sleep(1)
        偶數_Row_Data     = soup.find_all('div', attrs={'class':'Ta(c) Py(6px) Bxz(bb) BdB Bdc($seperatorColor) Miw(120px) Miw(100px)--pnclg D(tbc)'})
        基數_Row_Data     = soup.find_all('div',  attrs={'class':'Ta(c) Py(6px) Bxz(bb) BdB Bdc($seperatorColor) Miw(120px) Miw(100px)--pnclg Bgc($lv1BgColor) fi-row:h_Bgc($hoverBgColor) D(tbc)'})


        # get text data
        First_Row_Data  = [data.find('span').text for data in First_Row_Data]
        Second_Row_Data = [data.text for data in 偶數_Row_Data]
        Third_Row_Data  = [data.text for data in 基數_Row_Data]

        # -----------------------------

        if self.fetch_data == "Balance_Sheet" :

            columns_2 = []
            columns_4 = []

            for i in range(0,len(Second_Row_Data),2) :

                Second_columns_data = Second_Row_Data[i]
                Forth_columns_data  = Second_Row_Data[i+1]

                columns_2 .append(Second_columns_data)
                columns_4 .append(Forth_columns_data)
            
            columns_3 = []
            columns_5 = []

            for i in range(0,len(Third_Row_Data ),2) :

                Third_columns_data = Third_Row_Data[i]
                Fifth_columns_data = Third_Row_Data[i+1]

                columns_3 .append(Third_columns_data)
                columns_5 .append(Fifth_columns_data)

            output_df[column[0]] = First_Row_Data
            output_df[column[1]] = columns_2
            output_df[column[2]] = columns_3
            output_df[column[3]] = columns_4
            output_df[column[4]] = columns_5

            return output_df

        else:
            # Incone Statement & Cash Flow ( 偶數排資料 )

            columns_2 = []
            columns_4 = []

            for i in range(0,len(Second_Row_Data),2) :

                Second_columns_data = Second_Row_Data[i]
                Forth_columns_data  = Second_Row_Data[i+1]

                columns_2 .append(Second_columns_data)
                columns_4 .append(Forth_columns_data)

            # # 基數排資料
            columns_1 = []
            columns_3 = []
            columns_5 = []

            for i in range(0,len(Third_Row_Data ),3) :
                
                First_columns_data = Third_Row_Data[i]
                Third_columns_data = Third_Row_Data[i+1]
                Fifth_columns_data = Third_Row_Data[i+2]

                columns_1 .append(First_columns_data)
                columns_3 .append(Third_columns_data)
                columns_5 .append(Fifth_columns_data)

                

            output_df[column[0]] = First_Row_Data
            output_df[column[1]] = columns_1

            output_df[column[2]] = columns_2
            output_df[column[3]] = columns_3
            output_df[column[4]] = columns_4
            output_df[column[5]] = columns_5

            return output_df

#  "Cash_Flow" , "Income_Statement" , "Balance_Sheet"

In [13]:
Financial_Statement          = yahoo_financial_statement(ticker='MMM',selenium_path=r'/Users/chen-lichiang/Desktop/python/Factor_Analysis/chromedriver',fetch_data='Income_Statement')
Company_Financial_Statement  = Financial_Statement.Web_Driver()
Company_Financial_Statement  = Financial_Statement.get_table_data()
    

Company_Financial_Statement

,Breakdown,ttm,12/30/2020,12/30/2019,12/30/2018,12/30/2017
0,Total Revenue,"34,734,000","32,184,000","32,136,000","32,765,000","31,657,000"
1,Operating Revenue,"34,734,000","32,184,000","32,136,000","32,765,000","31,657,000"
2,Cost of Revenue,"17,935,000","16,605,000","17,136,000","16,682,000","16,001,000"
3,Gross Profit,"16,799,000","15,579,000","15,000,000","16,083,000","15,656,000"
4,Operating Expense,"8,943,000","8,757,000","8,872,000","9,350,000","8,422,000"
5,Selling General and Administrative,"6,988,000","6,879,000","6,961,000","7,529,000","6,572,000"
6,General & Administrative Expense,"6,988,000","6,879,000","6,961,000","7,529,000","6,572,000"
7,Salaries and Wages,"-133,000","-50,000","-68,000","-73,000",-
8,Other G and A,"7,121,000","6,929,000","7,029,000","7,602,000","6,572,000"
9,Research & Development,"1,955,000","1,878,000","1,911,000","1,821,000","1,850,000"
10,Operating Income,"7,856,000","6,822,000","6,128,000","6,733,000","7,234,000"
11,Net Non Operating Interest Income Expense,"-500,000","-500,000","-368,000","-280,000","-272,000"
12,Interest Income Non Operating,"22,000","29,000","80,000","70,000","50,000"
13,Interest Expense Non Operating,"522,000","529,000","448,000","350,000","322,000"
14,Other Income Expense,-,"389,000","-48,000","547,000","586,000"
15,Special Income Charges,0,"389,000","-48,000","547,000","586,000"
16,Gain on Sale of Business,0,"389,000","-48,000","547,000","586,000"
17,Other Non Operating Income Expenses,-,"50,000","68,000","73,000","-272,000"
18,Pretax Income,"7,356,000","6,711,000","5,712,000","7,000,000","7,548,000"
19,Tax Provision,"1,427,000","1,318,000","1,130,000","1,637,000","2,679,000"
20,Earnings from Equity Interest Net of Tax,"-2,000","-5,000",-,-,-
21,Net Income Common Stockholders,"5,918,000","5,384,000","4,570,000","5,349,000","4,858,000"
22,Net Income,"5,918,000","5,384,000","4,570,000","5,349,000","4,858,000"
23,Net Income Including Non-Controlling Interests,"5,927,000","5,388,000","4,582,000","5,363,000","4,869,000"
24,Net Income Continuous Operations,"5,927,000","5,388,000","4,582,000","5,363,000","4,869,000"
25,Minority Interests,"-9,000","-4,000","-12,000","-14,000","-11,000"
26,Diluted NI Available to Com Stockholders,"5,918,000","5,384,000","4,570,000","5,349,000","4,858,000"
27,Basic EPS,-,9.32,7.92,9.09,8.13
28,Diluted EPS,-,9.25,7.81,8.89,7.93
29,Basic Average Shares,-,"577,600","577,000","588,500","597,500"
30,Diluted Average Shares,-,"582,200","585,100","602,000","612,700"
31,Total Operating Income as Reported,"7,723,000","7,161,000","6,174,000","7,207,000","7,820,000"
32,Total Expenses,"26,878,000","25,362,000","26,008,000","26,032,000","24,423,000"
33,Net Income from Continuing & Discontinued Oper...,"5,918,000","5,384,000","4,570,000","5,349,000","4,858,000"
34,Normalized Income,"5,918,000","5,071,244","4,608,496","4,929,998","4,480,030"
35,Interest Income,"22,000","29,000","80,000","70,000","50,000"
36,Interest Expense,"522,000","529,000","448,000","350,000","322,000"
37,Net Interest Income,"-500,000","-500,000","-368,000","-280,000","-272,000"
38,EBIT,"7,878,000","7,240,000","6,160,000","7,350,000","7,870,000"
39,EBITDA,"9,789,000",-,-,-,-
40,Reconciled Cost of Revenue,"17,935,000","16,605,000","17,136,000","16,682,000","16,001,000"
41,Reconciled Depreciation,"1,911,000","1,911,000","1,593,000","1,488,000","1,544,000"
42,Net Income from Continuing Operation Net Minor...,"5,918,000","5,384,000","4,570,000","5,349,000","4,858,000"
43,Total Unusual Items Excluding Goodwill,0,"389,000","-48,000","547,000","586,000"
44,Total Unusual Items,0,"389,000","-48,000","547,000","586,000"
45,Normalized EBITDA,"9,789,000","8,762,000","7,801,000","8,291,000","8,828,000"
46,Tax Rate for Calcs,0,0,0,0,0
47,Tax Effect of Unusual Items,0,"76,244","-9,504","127,998","208,030"

In [14]:
Financial_Statement          = yahoo_financial_statement(ticker='MMM',selenium_path=r'/Users/chen-lichiang/Desktop/python/Factor_Analysis/chromedriver',fetch_data='Balance_Sheet')
Company_Financial_Statement  = Financial_Statement.Web_Driver()
Company_Financial_Statement  = Financial_Statement.get_table_data()
    

Company_Financial_Statement

,Breakdown,12/30/2020,12/30/2019,12/30/2018,12/30/2017
0,Total Assets,"47,344,000","44,659,000","36,500,000","37,987,000"
1,Current Assets,"14,982,000","12,971,000","13,709,000","14,277,000"
2,"Cash, Cash Equivalents & Short Term Investments","5,038,000","2,451,000","3,233,000","4,129,000"
3,Cash And Cash Equivalents,"4,634,000","2,353,000","2,853,000","3,053,000"
4,Other Short Term Investments,"404,000","98,000","380,000","1,076,000"
...,...,...,...,...,...
84,Total Debt,"19,753,000","21,278,000","14,697,000","14,009,000"
85,Net Debt,"14,161,000","17,960,000","11,769,000","10,896,000"
86,Share Issued,"944,033","944,033","944,033","944,033"
87,Ordinary Shares Number,"577,750","575,185","576,575","594,884"
88,Treasury Shares Number,"366,283","368,848","367,458","349,149"

In [16]:
Financial_Statement          = yahoo_financial_statement(ticker='MMM',selenium_path=r'/Users/chen-lichiang/Desktop/python/Factor_Analysis/chromedriver',fetch_data='Cash_Flow')
Company_Financial_Statement  = Financial_Statement.Web_Driver()
Company_Financial_Statement  = Financial_Statement.get_table_data()
    

Company_Financial_Statement

,Breakdown,ttm,12/30/2020,12/30/2019,12/30/2018,12/30/2017
0,Operating Cash Flow,"8,570,000","8,113,000","7,070,000","6,439,000","6,240,000"
1,Cash Flow from Continuing Operating Activities,"8,570,000","8,113,000","7,070,000","6,439,000","6,240,000"
2,Net Income from Continuing Operations,"5,927,000","5,388,000","4,582,000","5,363,000","4,869,000"
3,Operating Gains Losses,"343,000","17,000","408,000","-135,000","-253,000"
4,Gain Loss On Sale of Business,0,"-389,000","51,000","-545,000","-586,000"
5,Pension And Employee Benefit Expense,"343,000","406,000","357,000","410,000","333,000"
6,Depreciation Amortization Depletion,"1,911,000","1,911,000","1,593,000","1,488,000","1,544,000"
7,Depreciation & amortization,"1,911,000","1,911,000","1,593,000","1,488,000","1,544,000"
8,Deferred Tax,"-115,000","-165,000","-273,000","-57,000","107,000"
9,Deferred Income Tax,"-115,000","-165,000","-273,000","-57,000","107,000"
10,Stock based compensation,"274,000","262,000","278,000","302,000","324,000"
11,Excess Tax Benefit from Stock Based Compensation,-,-,-,-,0
12,Other non-cash items,"530,000","242,000","-321,000","-250,000","-710,000"
13,Change in working capital,"-300,000","458,000","803,000","-272,000","359,000"
14,Change in Receivables,"-413,000","165,000","345,000","-305,000","-245,000"
15,Changes in Account Receivables,"-413,000","165,000","345,000","-305,000","-245,000"
16,Change in Inventory,"-537,000","-91,000","370,000","-509,000","-387,000"
17,Change in Payables And Accrued Expense,"650,000","384,000","88,000","542,000","991,000"
18,Change in Payable,"650,000","384,000","88,000","542,000","991,000"
19,Change in Tax Payable,"-282,000","132,000","205,000","134,000","967,000"
20,Change in Income Tax Payable,"-282,000","132,000","205,000","134,000","967,000"
21,Change in Account Payable,"932,000","252,000","-117,000","408,000","24,000"
22,Investing Cash Flow,"-1,825,000","-580,000","-6,444,000","222,000","-3,086,000"
23,Cash Flow from Continuing Investing Activities,"-1,825,000","-580,000","-6,444,000","222,000","-3,086,000"
24,Net PPE Purchase And Sale,"-1,339,000","-1,373,000","-1,576,000","-1,315,000","-1,324,000"
25,Purchase of PPE,"-1,494,000","-1,501,000","-1,699,000","-1,577,000","-1,373,000"
26,Sale of PPE,"155,000","128,000","123,000","262,000","49,000"
27,Net Business Purchase And Sale,"3,000","551,000","-4,748,000","859,000","-958,000"
28,Purchase of Business,0,"-25,000","-4,984,000",-,"-2,023,000"
29,Sale of Business,"3,000","576,000","236,000","859,000","1,065,000"
30,Net Investment Purchase And Sale,"-512,000","232,000","-192,000","669,000","-798,000"
31,Purchase of Investment,"-2,133,000","-1,579,000","-1,635,000","-1,828,000","-2,152,000"
32,Sale of Investment,"1,621,000","1,811,000","1,443,000","2,497,000","1,354,000"
33,Net Other Investing Changes,"23,000","10,000","72,000","9,000","-6,000"
34,Financing Cash Flow,"-6,333,000","-5,300,000","-1,124,000","-6,701,000","-2,655,000"
35,Cash Flow from Continuing Financing Activities,"-6,333,000","-5,300,000","-1,124,000","-6,701,000","-2,655,000"
36,Net Issuance Payments of Debt,"-2,787,000","-1,875,000","3,249,000","933,000","1,603,000"
37,Net Long Term Debt Issuance,"-2,780,000","-1,732,000","3,565,000","1,217,000","1,025,000"
38,Long Term Debt Issuance,"6,000","1,750,000","6,281,000","2,251,000","1,987,000"
39,Long Term Debt Payments,"-2,786,000","-3,482,000","-2,716,000","-1,034,000","-962,000"
40,Net Short Term Debt Issuance,"-7,000","-143,000","-316,000","-284,000","578,000"
41,Net Common Stock Issuance,"-736,000","-368,000","-1,407,000","-4,870,000","-2,068,000"
42,Common Stock Issuance,-,-,"547,000","485,000","734,000"
43,Common Stock Payments,"-736,000","-368,000","-1,407,000","-4,870,000","-2,068,000"
44,Cash Dividends Paid,"-3,411,000","-3,388,000","-3,316,000","-3,193,000","-2,803,000"
45,Common Stock Dividend Paid,-,"-3,388,000","-3,316,000","-3,193,000","-2,803,000"
46,Proceeds from Stock Option Exercised,"673,000","429,000","547,000","485,000","734,000"
47,Net Other Financing Charges,"-72,000","-98,000","-197,000","-56,000","-121,000"
48,End Cash Position,"4,631,000","4,634,000","2,353,000","2,853,000","3,053,000"
49,Changes in Cash,"412,000","2,233,000","-498,000","-40,000","499,000"
50,Effect of Exchange Rate Changes,"64,000","48,000","-2,000","-160,000","156,000"
51,Beginning Cash Position,"4,219,000","2,353,000","2,853,000","3,053,000","2,398,000"
52,Income Tax Paid Supplemental Data,-,"1,351,000","1,198,000","1,560,000","1,604,000"
53,Interest Paid Supplemental Data,-,"524,000","370,000","328,000","214,000"
54,Capital Expenditure,"-1,494,000","-1,501,000","-1,699,000","-1,577,000","-1,373,000"
55,Issuance of Capital Stock,-,-,"547,000","485,000","734,000"
56,Issuance of Debt,"6,000","1,750,000","6,281,000","2,251,000","1,987,000"
57,Repayment of Debt,"-2,786,000","-3,482,000","-2,716,000","-1,034,000","-962,000"
58,Repurchase of Capital Stock,"-736,000","-368,000","-1,407,000","-4,870,000","-2,068,000"
59,Free Cash Flow,"7,076,000","6,612,000","5,371,000","4,862,000","4,867,000"